<template>
  <section class="section">
    <!-- Box -->
    <div class="container">
      <div class="columns">
        <div class="column">
          <h2 class="title is-3 has-text-grey">Elements<b-icon icon="rocket" size="is-large" /></h2>
        </div>
      </div>
      <s-box />
    </div>

    <!-- Button -->
    <div class="container">
      <div class="columns">
        <div class="column">
          <h3 class="subtitle is-4 has-text-grey">Button</h3>
        </div>
      </div>
    </div>

    <!-- Content -->
    <div class="container">
      <div class="columns">
        <div class="column">
          <h3 class="subtitle is-4 has-text-grey">Content</h3>
        </div>
      </div>
    </div>

    <!-- Content : ol -->
    <div class="container">
      <div class="columns">
        <div class="column">
          <h3 class="subtitle is-5 has-text-grey">Content - ol</h3>
        </div>
      </div>
      <div class="columns">
        <div class="column is-offset-3 is-3">
          <div class="content">
            <ol class="is-lower-alpha">
              <li>Coffee</li>
              <li>Tea</li>
              <li>Milk</li>
            </ol>
          </div>
        </div>
        <div class="column is-offset-3">
          <div class="content">
            <ol class="is-lower-roman">
              <li>Coffee</li>
              <li>Tea</li>
              <li>Milk</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Content : Sizes -->
    <div class="container">
      <div class="columns">
        <div class="column">
          <h3 class="subtitle is-5 has-text-grey">Content - Sizes</h3>
        </div>
      </div>
      <div class="columns">
        <div class="column is-offset-2 is-8">
          <div class="content is-small">
            <h1>Hello World</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque.</p>
            <h2>Second level</h2>
            <p>Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
            <ul>
              <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
              <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
              <li>Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
              <li>Ut non enim metus.</li>
            </ul>
          </div>
          <!-- -->
          <div class="content is-medium">
            <h1>Hello World</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque.</p>
            <h2>Second level</h2>
            <p>Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
            <ul>
              <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
              <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
              <li>Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
              <li>Ut non enim metus.</li>
            </ul>
          </div>
          <!-- -->
          <div class="content is-large">
            <h1>Hello World</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque.</p>
            <h2>Second level</h2>
            <p>Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
            <ul>
              <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
              <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
              <li>Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
              <li>Ut non enim metus.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete -->
    <div class="container">
      <div class="columns">
        <div class="column">
          <h3 class="subtitle is-4 has-text-grey">Delete</h3>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <a class="delete is-small"></a>
          <a class="delete"></a>
          <a class="delete is-medium"></a>
          <a class="delete is-large"></a>
        </div>
        <div class="column">
          <div class="block">
            <span class="tag is-success">
              Hello World
              <button class="delete is-small"></button>
            </span>
          </div>

          <div class="notification is-danger">
            <button class="delete"></button>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum dolor sit amet, consectetur adipiscing elit
          </div>

          <article class="message is-info">
            <div class="message-header">
              Info
              <button class="delete"></button>
            </div>
            <div class="message-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
            </div>
          </article>
        </div>
      </div>
    </div>

    <!-- Icon -->
    <div class="container">
      <div class="columns">
        <div class="column">
          <h3 class="subtitle is-4 has-text-grey">Icon</h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column">
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>
        </div>
        <!-- -->
        <div class="column">
          <span class="icon has-text-info">
            <i class="fas fa-info-circle"></i>
          </span>
          <span class="icon has-text-success">
            <i class="fas fa-check-square"></i>
          </span>
          <span class="icon has-text-warning">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
          <span class="icon has-text-danger">
            <i class="fas fa-ban"></i>
          </span>
        </div>
      </div>
    </div>

    <!-- Image -->
    <div class="container">
      <div class="columns">
        <div class="column">
          <h3 class="subtitle is-4 has-text-grey">Image</h3>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <figure class="image is-128x128">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </figure>
        </div>
        <div class="column">
          <figure class="image is-128x128">
            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
          </figure>
        </div>
      </div>
    </div>

    <!-- Notification -->
    <div class="container">
      <div class="columns">
        <div class="column">
          <h3 class="subtitle is-4 has-text-grey">Notification</h3>
        </div>
      </div>
      <div class="columns">
        <div class="column is-offset-2 is-8">
          <div class="notification">
            <button class="delete"></button>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Sit amet,
            consectetur adipiscing elit
          </div>
          <!-- -->
          <div class="notification is-primary">
            <button class="delete"></button>
            Primar lorem ipsum dolor sit amet, consectetur
            adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Sit amet,
            consectetur adipiscing elit
          </div>

          <div class="notification is-link">
            <button class="delete"></button>
            Primar lorem ipsum dolor sit amet, consectetur
            adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Sit amet,
            consectetur adipiscing elit
          </div>

          <div class="notification is-info">
            <button class="delete"></button>
            Primar lorem ipsum dolor sit amet, consectetur
            adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Sit amet,
            consectetur adipiscing elit
          </div>

          <div class="notification is-success">
            <button class="delete"></button>
            Primar lorem ipsum dolor sit amet, consectetur
            adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Sit amet,
            consectetur adipiscing elit
          </div>

          <div class="notification is-warning">
            <button class="delete"></button>
            Primar lorem ipsum dolor sit amet, consectetur
            adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Sit amet,
            consectetur adipiscing elit
          </div>

          <div class="notification is-danger">
            <button class="delete"></button>
            Primar lorem ipsum dolor sit amet, consectetur
            adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Sit amet,
            consectetur adipiscing elit
          </div>
        </div>
      </div>
    </div>

    <!-- Progress Bars -->
    <div class="container">
      <div class="columns">
        <div class="column">
          <h3 class="subtitle is-4 has-text-grey">Progress Bars</h3>
        </div>
      </div>
      <div class="columns">
        <div class="column is-offset-2 is-8">
          <progress class="progress" value="15" max="100">15%</progress>
          <!-- -->
          <progress class="progress is-primary" value="15" max="100">15%</progress>
          <progress class="progress is-link" value="30" max="100">30%</progress>
          <progress class="progress is-info" value="45" max="100">45%</progress>
          <progress class="progress is-success" value="60" max="100">60%</progress>
          <progress class="progress is-warning" value="75" max="100">75%</progress>
          <progress class="progress is-danger" value="90" max="100">90%</progress>
          <!-- -->
          <progress class="progress is-small" value="15" max="100">15%</progress>
          <progress class="progress" value="30" max="100">30%</progress>
          <progress class="progress is-medium" value="45" max="100">45%</progress>
          <progress class="progress is-large" value="60" max="100">60%</progress>
        </div>
      </div>
    </div>

    <!-- Table -->
    <div class="container">
      <div class="columns">
        <div class="column">
          <h3 class="subtitle is-4 has-text-grey">Table</h3>
        </div>
      </div>
      <div class="columns">
        <div class="column is-offset-1 is-9">
          <table class="table">
            <thead>
              <tr>
                <th><abbr title="Position">Pos</abbr></th>
                <th>Team</th>
                <th><abbr title="Played">Pld</abbr></th>
                <th><abbr title="Won">W</abbr></th>
                <th><abbr title="Drawn">D</abbr></th>
                <th><abbr title="Lost">L</abbr></th>
                <th><abbr title="Goals for">GF</abbr></th>
                <th><abbr title="Goals against">GA</abbr></th>
                <th><abbr title="Goal difference">GD</abbr></th>
                <th><abbr title="Points">Pts</abbr></th>
                <th>Qualification or relegation</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th><abbr title="Position">Pos</abbr></th>
                <th>Team</th>
                <th><abbr title="Played">Pld</abbr></th>
                <th><abbr title="Won">W</abbr></th>
                <th><abbr title="Drawn">D</abbr></th>
                <th><abbr title="Lost">L</abbr></th>
                <th><abbr title="Goals for">GF</abbr></th>
                <th><abbr title="Goals against">GA</abbr></th>
                <th><abbr title="Goal difference">GD</abbr></th>
                <th><abbr title="Points">Pts</abbr></th>
                <th>Qualification or relegation</th>
              </tr>
            </tfoot>
            <tbody>
              <tr>
                <th>1</th>
                <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">Leicester City</a> <strong>(C)</strong>
                </td>
                <td>38</td>
                <td>23</td>
                <td>12</td>
                <td>3</td>
                <td>68</td>
                <td>36</td>
                <td>+32</td>
                <td>81</td>
                <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage" title="2016–17 UEFA Champions League">Champions League group stage</a></td>
              </tr>
              <tr>
                <th>2</th>
                <td><a href="https://en.wikipedia.org/wiki/Arsenal_F.C." title="Arsenal F.C.">Arsenal</a></td>
                <td>38</td>
                <td>20</td>
                <td>11</td>
                <td>7</td>
                <td>65</td>
                <td>36</td>
                <td>+29</td>
                <td>71</td>
                <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage" title="2016–17 UEFA Champions League">Champions League group stage</a></td>
              </tr>
              <tr>
                <th>3</th>
                <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
                <td>38</td>
                <td>19</td>
                <td>13</td>
                <td>6</td>
                <td>69</td>
                <td>35</td>
                <td>+34</td>
                <td>70</td>
                <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage" title="2016–17 UEFA Champions League">Champions League group stage</a></td>
              </tr>
              <tr class="is-selected">
                <th>4</th>
                <td><a href="https://en.wikipedia.org/wiki/Manchester_City_F.C." title="Manchester City F.C.">Manchester City</a></td>
                <td>38</td>
                <td>19</td>
                <td>9</td>
                <td>10</td>
                <td>71</td>
                <td>41</td>
                <td>+30</td>
                <td>66</td>
                <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Play-off_round" title="2016–17 UEFA Champions League">Champions League play-off round</a></td>
              </tr>
              <tr>
                <th>5</th>
                <td><a href="https://en.wikipedia.org/wiki/Manchester_United_F.C." title="Manchester United F.C.">Manchester United</a></td>
                <td>38</td>
                <td>19</td>
                <td>9</td>
                <td>10</td>
                <td>49</td>
                <td>35</td>
                <td>+14</td>
                <td>66</td>
                <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Europa_League#Group_stage" title="2016–17 UEFA Europa League">Europa League group stage</a></td>
              </tr>
              <tr>
                <th>6</th>
                <td><a href="https://en.wikipedia.org/wiki/Southampton_F.C." title="Southampton F.C.">Southampton</a></td>
                <td>38</td>
                <td>18</td>
                <td>9</td>
                <td>11</td>
                <td>59</td>
                <td>41</td>
                <td>+18</td>
                <td>63</td>
                <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Europa_League#Group_stage" title="2016–17 UEFA Europa League">Europa League group stage</a></td>
              </tr>
              <tr>
                <th>7</th>
                <td><a href="https://en.wikipedia.org/wiki/West_Ham_United_F.C." title="West Ham United F.C.">West Ham United</a></td>
                <td>38</td>
                <td>16</td>
                <td>14</td>
                <td>8</td>
                <td>65</td>
                <td>51</td>
                <td>+14</td>
                <td>62</td>
                <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Europa_League#Third_qualifying_round" title="2016–17 UEFA Europa League">Europa League third qualifying round</a></td>
              </tr>
              <tr>
                <th>8</th>
                <td><a href="https://en.wikipedia.org/wiki/Liverpool_F.C." title="Liverpool F.C.">Liverpool</a></td>
                <td>38</td>
                <td>16</td>
                <td>12</td>
                <td>10</td>
                <td>63</td>
                <td>50</td>
                <td>+13</td>
                <td>60</td>
                <td></td>
              </tr>
              <tr>
                <th>9</th>
                <td><a href="https://en.wikipedia.org/wiki/Stoke_City_F.C." title="Stoke City F.C.">Stoke City</a></td>
                <td>38</td>
                <td>14</td>
                <td>9</td>
                <td>15</td>
                <td>41</td>
                <td>55</td>
                <td>−14</td>
                <td>51</td>
                <td></td>
              </tr>
              <tr>
                <th>10</th>
                <td><a href="https://en.wikipedia.org/wiki/Chelsea_F.C." title="Chelsea F.C.">Chelsea</a></td>
                <td>38</td>
                <td>12</td>
                <td>14</td>
                <td>12</td>
                <td>59</td>
                <td>53</td>
                <td>+6</td>
                <td>50</td>
                <td></td>
              </tr>
              <tr>
                <th>11</th>
                <td><a href="https://en.wikipedia.org/wiki/Everton_F.C." title="Everton F.C.">Everton</a></td>
                <td>38</td>
                <td>11</td>
                <td>14</td>
                <td>13</td>
                <td>59</td>
                <td>55</td>
                <td>+4</td>
                <td>47</td>
                <td></td>
              </tr>
              <tr>
                <th>12</th>
                <td><a href="https://en.wikipedia.org/wiki/Swansea_City_A.F.C." title="Swansea City A.F.C.">Swansea City</a></td>
                <td>38</td>
                <td>12</td>
                <td>11</td>
                <td>15</td>
                <td>42</td>
                <td>52</td>
                <td>−10</td>
                <td>47</td>
                <td></td>
              </tr>
              <tr>
                <th>13</th>
                <td><a href="https://en.wikipedia.org/wiki/Watford_F.C." title="Watford F.C.">Watford</a></td>
                <td>38</td>
                <td>12</td>
                <td>9</td>
                <td>17</td>
                <td>40</td>
                <td>50</td>
                <td>−10</td>
                <td>45</td>
                <td></td>
              </tr>
              <tr>
                <th>14</th>
                <td><a href="https://en.wikipedia.org/wiki/West_Bromwich_Albion_F.C." title="West Bromwich Albion F.C.">West Bromwich Albion</a></td>
                <td>38</td>
                <td>10</td>
                <td>13</td>
                <td>15</td>
                <td>34</td>
                <td>48</td>
                <td>−14</td>
                <td>43</td>
                <td></td>
              </tr>
              <tr>
                <th>15</th>
                <td><a href="https://en.wikipedia.org/wiki/Crystal_Palace_F.C." title="Crystal Palace F.C.">Crystal Palace</a></td>
                <td>38</td>
                <td>11</td>
                <td>9</td>
                <td>18</td>
                <td>39</td>
                <td>51</td>
                <td>−12</td>
                <td>42</td>
                <td></td>
              </tr>
              <tr>
                <th>16</th>
                <td><a href="https://en.wikipedia.org/wiki/A.F.C._Bournemouth" title="A.F.C. Bournemouth">AFC Bournemouth</a></td>
                <td>38</td>
                <td>11</td>
                <td>9</td>
                <td>18</td>
                <td>45</td>
                <td>67</td>
                <td>−22</td>
                <td>42</td>
                <td></td>
              </tr>
              <tr>
                <th>17</th>
                <td><a href="https://en.wikipedia.org/wiki/Sunderland_A.F.C." title="Sunderland A.F.C.">Sunderland</a></td>
                <td>38</td>
                <td>9</td>
                <td>12</td>
                <td>17</td>
                <td>48</td>
                <td>62</td>
                <td>−14</td>
                <td>39</td>
                <td></td>
              </tr>
              <tr>
                <th>18</th>
                <td><a href="https://en.wikipedia.org/wiki/Newcastle_United_F.C." title="Newcastle United F.C.">Newcastle United</a> <strong>(R)</strong>
                </td>
                <td>38</td>
                <td>9</td>
                <td>10</td>
                <td>19</td>
                <td>44</td>
                <td>65</td>
                <td>−21</td>
                <td>37</td>
                <td>Relegation to the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_Football_League_Championship" title="2016–17 Football League Championship">Football League Championship</a></td>
              </tr>
              <tr>
                <th>19</th>
                <td><a href="https://en.wikipedia.org/wiki/Norwich_City_F.C." title="Norwich City F.C.">Norwich City</a> <strong>(R)</strong>
                </td>
                <td>38</td>
                <td>9</td>
                <td>7</td>
                <td>22</td>
                <td>39</td>
                <td>67</td>
                <td>−28</td>
                <td>34</td>
                <td>Relegation to the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_Football_League_Championship" title="2016–17 Football League Championship">Football League Championship</a></td>    </tr>
              <tr>
                <th>20</th>
                <td><a href="https://en.wikipedia.org/wiki/Aston_Villa_F.C." title="Aston Villa F.C.">Aston Villa</a> <strong>(R)</strong>
                </td>
                <td>38</td>
                <td>3</td>
                <td>8</td>
                <td>27</td>
                <td>27</td>
                <td>76</td>
                <td>−49</td>
                <td>17</td>
                <td>Relegation to the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_Football_League_Championship" title="2016–17 Football League Championship">Football League Championship</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <!-- Tag -->
    <div class="container">
      <div class="columns">
        <div class="column">
          <h3 class="subtitle is-4 has-text-grey">Tag</h3>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <span class="tag">
            Tag label
          </span>
        </div>
        <div class="column">
          <span class="tag is-black">Black</span>
          <span class="tag is-dark">Dark</span>
          <span class="tag is-light">Light</span>
          <span class="tag is-white">White</span>
          <span class="tag is-primary">Primary</span>
          <span class="tag is-link">Link</span>
          <span class="tag is-info">Info</span>
          <span class="tag is-success">Success</span>
          <span class="tag is-warning">Warning</span>
          <span class="tag is-danger">Danger</span>
          <hr />
          <!-- -->
          <span class="tag is-link is-normal">Normal</span>
          <span class="tag is-primary is-medium">Medium</span>
          <span class="tag is-info is-large">Large</span>
          <hr />
          <!-- -->
          <div class="tags has-addons">
            <span class="tag">Package</span>
            <span class="tag is-primary">Bulma</span>
          </div>
          <hr />
          <!-- -->
          <div class="tags has-addons">
            <span class="tag is-danger">Alex Smith</span>
            <a class="tag is-delete"></a>
          </div>
        </div>
      </div>
    </div>

    <!-- Title -->
    <div class="container">
      <div class="columns">
        <div class="column">
          <h3 class="subtitle is-4 has-text-grey">Title</h3>
          <h1 class="title">Title</h1>
          <h2 class="subtitle">Subtitle</h2>
        </div>
        <div class="column">
          <h1 class="title is-1">Title 1</h1>
          <h2 class="title is-2">Title 2</h2>
          <h3 class="title is-3">Title 3</h3>
          <h4 class="title is-4">Title 4</h4>
          <h5 class="title is-5">Title 5</h5>
          <h6 class="title is-6">Title 6</h6>
        </div>
        <div class="column">
          <h1 class="subtitle is-1">Subtitle 1</h1>
          <h2 class="subtitle is-2">Subtitle 2</h2>
          <h3 class="subtitle is-3">Subtitle 3</h3>
          <h4 class="subtitle is-4">Subtitle 4</h4>
          <h5 class="subtitle is-5">Subtitle 5</h5>
          <h6 class="subtitle is-6">Subtitle 6</h6>
        </div>
        <div class="column">
          <p class="title is-1">Title 1</p>
          <p class="subtitle is-3">Subtitle 3</p>

          <p class="title is-2">Title 2</p>
          <p class="subtitle is-4">Subtitle 4</p>

          <p class="title is-3">Title 3</p>
          <p class="subtitle is-5">Subtitle 5</p>
        </div>
        <div class="column">
          <p class="title is-1 is-spaced">Title 1</p>
          <p class="subtitle is-3">Subtitle 3</p>

          <p class="title is-2 is-spaced">Title 2</p>
          <p class="subtitle is-4">Subtitle 4</p>

          <p class="title is-3 is-spaced">Title 3</p>
          <p class="subtitle is-5">Subtitle 5</p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import SBox from '../components/bulmacss/Box'

  export default {
    layout: 'sketch-layout',
    components: {
      SBox
    }
  }
</script>
